# Environment variables.
# Copy this file to `.env` and enter your personal configuration details.

# Stripe API keys: use your test keys for development and live keys for real charges in production
STRIPE_PUBLISHABLE_KEY=<Your Stripe publishable key>
STRIPE_SECRET_KEY=<Your Stripe secret key>

# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-character string of characters, e.g. 'oj2130sdjk120asdim2u2'
JWT_SECRET=<A random 20-character string>
